.hero-copy {
    width: 500px;
    margin-top: -94px;
    margin-bottom: 24px;
    float: none;
    color: white;
    font-size: 17px;
    line-height: 43px;
    text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 6px;
}
.section.footer {
    z-index: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f7f7f7;
    color: #6e6e6e;
    text-align: center;
}